*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
.nav{
    background-color:rgb(254, 254, 254, 0.1);
    box-shadow: 0 0 25px 0 black;
    display: flex;
    align-items: center;
    position: fixed;
    width: auto;
    z-index: 0;
}

.nav .nav-item .nav-link{
    color: whitesmoke;
    font-weight: bold;
}

.nav .nav-item .nav-link:hover{
    color: #2fcc76;
}


/*MAIN CONTENT
--------------
*/
.justifiedText{
    text-align: justify;
}
.container{
    z-index: 1;
    background: none;
    display: block;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
    margin-top: 150px;
    overflow: hidden;
}

.card-container{
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    background: white;
    border-radius: 2px;
    border: 1px solid #2fcc76;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.header{
    background-color: rgba(184, 184, 184, 0.661);
    border-right: 1px solid #ddd;
}
.headerContent{
    margin-top: 70px;
}
.name, .rol{
    font-size: 20px;
    font-weight: bold;
}

.header, .description{
    padding: 20px;
    text-align: center;
}

.header a{
    position: relative;
    display: block;
}

.header img{
    box-shadow: 0 0 0 6px rgba(0, 0, 0, .06);
    margin: 20px 30px;
    transition: .2s;
}

.header a:hover img{
    
    box-shadow: 0 0 0 12px rgba(0, 0, 0, .1);
}

.header h2{
    color: #2fcc76;
}

.header h4{
    margin-bottom: 20px;
}
.description{
    background: #fbfbfb;
}
.description{
    position: relative;
}

.description p{
    margin: 20px 30px;
}

.description .social{
    margin-top: 25px;
}

.description .social a{
    display: inline-block;
    padding: 0 15px;
    color: #2fcc76;
}

#image{
    display: block;
    width: 200px;
    margin: auto;
    transition: 0.4s;
}
/*accordion */
.accordion{
    margin-top: 100px;
    
}
 .progress{
     width: 600px;
 }
 .progressBox{
     margin-top: 30px;
     margin-bottom: 30px;
 }

 .skillIcon{
     height: 20px;
 }

 .imgLanguage{
    height: 140px;
    width: 200px;
 }
 body{
    background-image: url(images/starsGif.gif);
}

/*Responsive 
-----------------
*/
@media (min-width:1000px){
    .progress{
        width: auto;
    }
}
@media (max-width:1000px){
    .card-container{
        margin: auto;
        display: block;
        width: 700px;
        border: 1px solid #2fcc76;
    }
    .headerContent{
        margin-top: 10px;
    }
   
}
@media (max-width:768px){
    .card-container{
        margin: auto;
        display: block;
        width: auto;
        border: 1px solid #2fcc76;
    }
    .headerContent{
        margin-top: 10px;
    }
   .progress{
       width: auto;
   }
}
@media (max-width:470px){
    .card-container{
        margin: auto;
        display: block;
        width: auto;
        border: 1px solid #2fcc76;
    }
    .headerContent{
        margin-top: 10px;
    }
   .progress{
       width: auto;
   }
   .nav .nav-item .nav-link{
    color: whitesmoke;
    font-weight: bold;
    font-size: 15px;
}
}















