
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    background-color:rgb(254, 254, 254, 0.1);
    box-shadow: 0 0 25px 0 black;
    display: flex;
    align-items: center;
    position: fixed;
    width: auto;
    z-index: 0;
}

.nav .nav-item .nav-link{
    color: whitesmoke;
    font-weight: bold;
}

.nav .nav-item .nav-link:hover{
    color: #2fcc76;
}

.container{
    position: relative;
    margin-top: 100px;
    display: block;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-weight: bold;
}
form:hover{
    color: #2fcc76;
}

#floatingTextarea{
    height: 50px;
}
body{
    background-image: url(images/starsGif.gif);
}

/*RESPONSIVE*/
@media (max-width:470px){
    .nav .nav-item .nav-link{
        color: whitesmoke;
        font-weight: bold;
        font-size: 15px;
    }
}
