.nav{
    background-color:rgb(254, 254, 254, 0.1);
    box-shadow: 0 0 25px 0 black;
    display: flex;
    align-items: center;
    position: fixed;
}

.nav .nav-item .nav-link{
    color: whitesmoke;
    font-weight: bold;
}

.nav .nav-item .nav-link:hover{
    color: #2fcc76;
}

/*main*/
body{
    background-image: url(starsGif.gif);
}
#card1{
    margin-top: 160px;
    
}
.card{
     min-height: 180px;
    }

.card-body{
    background:rgba(184, 184, 184, 0.661)
}    
.card:hover{
    transform: scale(1.05);
    color: #2fcc76;
    box-shadow: 0 0 25px 0 whitesmoke;
}

